html{ height:100%; }

body{ margin:0; padding:0; height:100%; font-size:12px; overflow:hidden; }

/* CodeMirror Begin */
.CodeMirror {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	font-size: 16px;
	font-family: Consolas, monospace;
	line-height: 20px;
}
.CodeMirror-focused .cm-matchhighlight { 
	background: rgba(0, 255, 255, .2) !important;
}
/* CodeMirror End */

/* ============== Bespin 主题 Start ==================== */
.cm-s-Bespin .CodeMirror-selected { background: #4C4A49 !important; }
.cm-s-Bespin .CodeMirror-gutters { background: #28211C; border-right: 1px solid #28211C; }
.cm-s-Bespin .CodeMirror-linenumber { color: #71675D; }
.cm-s-Bespin .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-Bespin{
	background:#28211C;
	color:#BDAE9D;
}
.cm-s-Bespin span.cm-group{
	color:#FF6400;
}
.cm-s-Bespin span.cm-ip{
	color:#00ff00;
}
.cm-s-Bespin span.cm-name{
	color:#4481ED;
}
.cm-s-Bespin span.cm-comment{
	color:#666;
}
.cm-s-Bespin span.cm-disabled{
	color:#999;
}
.cm-s-Bespin .cm-searching {
	background: rgba(255, 255, 0, .2);
}
/* ============== Bespin 主题 End ==================== */

/* ============== Dawn 主题 Start ==================== */
.cm-s-Dawn .CodeMirror-selected { background: #B9CAFA !important; }
.cm-s-Dawn .CodeMirror-gutters { background: #F9F9F9; border-right: 1px solid #F9F9F9; }
.cm-s-Dawn .CodeMirror-linenumber { color: #808080; }
.cm-s-Dawn .CodeMirror-cursor { border-left: 1px solid black !important; }

.cm-s-Dawn{
	background:#F9F9F9;
	color:#FF6400;
}
.cm-s-Dawn span.cm-group{
	color:#D24F24;
}
.cm-s-Dawn span.cm-ip{
	color:#691C97;
}
.cm-s-Dawn span.cm-name{
	color:#4481ED;
}
.cm-s-Dawn span.cm-comment{
	color:#808080;
}
.cm-s-Dawn span.cm-disabled{
	color:#796698;
}
/* ============== Dawn 主题 End ==================== */

/* 添加新方案 Begin */
.create-hosts{ padding: 10px; }
.create-hosts input { padding: 3px 0px; }
/* 添加新方案 End */

/* DNS设置 Begin */
.dnssetup{ width: 380px; padding: 0px 10px 0px 10px; }
.dnssetup label{ float: left; width: 60px; }
.dnssetup textarea{ padding: 5px; width: 290px; height: 100px; border: 1px solid #999; }
.dnssetup .tip{ color: #999; width: 100%; text-align: center; line-height: 40px; }
.dnssetup .error{ color: red; height: 13px; }
/* DNS设置 End */

/* 关于 Begin */
.about{ font-size:13px; line-height: 120%; padding: 0 10px; }
.about .ver{ font-size:12px; }
/* 关于 End */

/* 当前主机名 Begin */
.hostname input { border: 0px; font-size: 28px; }
/* 当前主机名 End */

/* 当前使用hosts/本机IP列表 公共 */
.use-hosts textarea,.localip textarea{ padding: 0px; border: 0px; }

/* 当前使用hosts Begin */
.use-hosts{ height: 150px; }
.use-hosts textarea{ height: 100%; }
/* 当前使用hosts End */

/* 本机IP列表 Begin */
.localip{ height: 90px; }
.localip textarea { width: 260px; height: 100%; }
/* 本机IP列表 End */

/* 设置-首选项 Begin */
.preference{ width: 200px; }
.preference tr{ height : 40px; }
.preference tr td { width: 100px; }
.preference label{ float: right; }
/* 设置-首选项 End */

/* 设置-编辑器 Begin */
.editor{ width: 210px; }
.editor tr{ height : 40px; }
.editor label{ float: right; }
.editor input{ width: 120px; }
/* 设置-编辑器 End */